body {
    font-family: sans-serif;
    background-color: #20B2AA;
}
p{
color: #000080;
font-size: 20px;
}
h1{
color: navy;
}
footer{
background-color:#B0E0E6;
border-radius: 20px;
}
img{
padding: 10px;
}
a:hover{
color: #191970;
}
header a{
text-decoration: none;
background-color:#66CDAA;
padding:15px;
font-size:20px;
border-radius: 20px;
}
a{
 font-size:20px;
 padding: 5px;
 margin:10px;
 border-radius: 20px;

}
nav a{
text-align:center;
color: blue;
 font-size:20px;
 padding: 10px;
 margin:10px;
 border-radius: 20px;
 background-color: #66CDAA;
 text-decoration: none;
}
header{
    margin:30px;
}
a{
color:Navy;
font-size: 25px;
}
h1{
    padding-left: 150px;
}
ul{
    font-size: 25px;
}